/* CSS Stylesheet */

/* Universal Styles */

 body {
  background-color: ;

}



/* Header/Nav */

header {
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: lightgrey 1px solid;
  z-index: 100;
  height: 64px;
  width: 100%;
  max-width: 1024px;
  background-color: #f08080;
  font-family: Verdana, sans-serif;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  margin: 32px 0px 32px 24px;

}

.logo .colmar {
  color: black;
  font-weight: bold;
  font-family: Helvetica;
  margin-left: 0;
  padding: 0;
  font-size: 18px;
}

.logo .academy {
  color: lightgrey;
  font-weight: 400;
  font-family: Helvetica;
  font-size: 18px;
}

header nav {
  display: flex;
  align-items: center;
  margin: auto 24px auto auto;


}

nav span a {
  display: inline-block;
  color: WhiteSmoke;
  padding-right: 16px;
  text-decoration: none;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: black 6px dotted;
  margin: 0;
  max-width: 1024px;
  padding-top: 6rem;
  box-sizing: border-box;
}

.banner {
  /* border: darkblue 5px solid; */
  /* display: flex;
  flex-direction: column; */
  margin: 32px 24px 32px 24px;
  width: 60%;
  overflow: hidden;


}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  /* padding: 32px 24px 32px 24px; */
}

.learn {
  width: 40%;
  margin: auto;
  text-align: center;

}

.learn h1 {
  /* color: #8b0000; */
  color: #708090;
  font-weight: bold;
  font-family: Helvetica; sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
}

.learn h3 {
  color: #808080;
  font-weight: 300;
  font-family: Helvetica; sans-serif;
  font-size: 1.50rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 20px;
  padding-right:
}
.learn a {
  background-color: #8b0000;
  font-weight: 800;
  text-align: center;
  color: #c0c0c0;
  font-size: 1.75rem;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  line-height: 4;
  font-family: Helvetica, sans-serif;
  border-radius: 10px 100px / 120px;

}
